<header id="header-main">
    <div class="header-main-top">
        <div class="pull-left">

            <!-- * This is the responsive logo * -->
            <a href="index.html" id="logo-small"><h4>Ploto</h4><h5>/applicant tracking</h5></a>
        </div>
    </div><!-- End #header-main-top -->
    <div class="header-main-bottom">
        <div class="pull-left">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
            </ul><!-- End .breadcrumb -->
        </div>
    </div><!-- End #header-main-bottom -->
</header><!-- End #header-main -->